.navbar {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 5px 20px;
  white-space: nowrap;
}

.navbar-brand-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-brand .brand-logo {
  width: 50px; 
  height: auto;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: static;
  right: 270px;
}

.navbar-left {
  display: flex;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-left .navbar-nav {
  margin-left: 20px;
}

.navbar-left .nav-item-1,
.nav-item-2,
.nav-item-3 {
  margin-right: 40px;
}

.navbar-right {
  margin-left: 460px;
}

.nav-item-W {
  display: flex;
  align-items: center;
}

.nav-item-W .profile-pic {
  margin-right: 0;
  width: 35px;
  height: 35px;
}

.username {
  margin-left: 0;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  margin-right: 0;  
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-right .navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item-X .btn .theme-icon {
  width: 40px;  
}

.nav-item-Y .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 30px;
  margin-right: 20px;
}

.nav-item-Z {
  display: flex;
  align-items: center;
}

.nav-item-Z .logout-pic {
  width: 27px;
  height: 27px;
}

.nav-item-Z .logout-text {
  margin-left: 8px; 
  font-size: 15px;
  font-weight: 500;
}

.dropdown-menu {
  display: none;
  list-style-type: none;
  padding: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 10px;
  text-align: left;
  background-color: #f1f1f1;
}

.dropdown-menu li a {
  color: #333;
}

.dropdown-menu li a:hover {
  background-color: #ddd;
}

.nav-item {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  
  .navbar-brand .brand-logo {
    display: flex;
    align-items: flex-start;
    width: 60px;
    margin-left: 10px;
    margin-bottom: 20px;
    
  }
  
  .navbar-toggler{
    display: flex;
    justify-content: end;
  }

  .navbar-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .navbar-left .navbar-nav, .navbar-right .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }

  .navbar-left .navbar-nav {
    margin-left: 0;
  }
 
}