/* Contenedor principal que usa Flexbox para organizar el saludo y el formulario */
.caja {
  display: flex;
  justify-content: space-between; /* Espacia los elementos a la izquierda y derecha */
  align-items: stretch;
  background-color:white;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap; /* Permite que los elementos se apilen en pantallas pequeñas */
}

.saludo, .form-container {
  background-color: #c8c3cf;
  width: 48%; /* Ambos cuadros tienen la misma anchura */
  margin: 10px 1%; /* Espacio alrededor de los cuadros */
  border-radius: 10px;
  padding: 20px; /* Añade espacio interno */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Estilo para el contenido dentro del cuadro de Saludo */
.saludo p:nth-of-type(1) { /*Titulo*/
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  line-height: 1.5;
  color: #4e3670;
  font-weight: 500;
}

.saludo p:nth-of-type(2) { /*Texto*/
  display: flex;
  color: #000;
  margin: 10px 40px 10px;
  font-size: 1.8rem;
  line-height: 53px;
}

/* Estilo para el contenido dentro del cuadro de Formulario */
.form-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #000000;
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  position: relative;
  flex-grow: 1;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
}

.register-form button {
  width: auto;
  padding: 15px;
  border-radius: 20px;
  border: none;
  background-color: #b04a8f;
  color: #fff;
  font-size: 19px;
  cursor: pointer; 
  align-self: flex-end; 
  margin-right: 33px;
    
}

.register-form button:hover {
  background-color: #a04888;
}



/* Responsivo: Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .caja {
    flex-direction: column; /* Apila los cuadros en una columna */
  }
  
  .saludo, .form-container {
    width: 100%; /* Cuadros ocupan toda la anchura en pantallas pequeñas */
    margin: 10px 0; /* Reduce los márgenes */
  }

  .saludo p:nth-of-type(1) { 
    display: flex;
    text-align: center;
    font-size: 2rem;
    line-height: 1;
    color: #4e3670;
    font-weight: 500;
  }

  .saludo p:nth-of-type(2){
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5;

  }

  .form-container h1 {
    font-size: 1.7rem;
    
  }
}