.home-image-container {  
    text-align: center;
    position: relative;
    font-family: "Poppins", sans-serif;
  }
  
  .home-image-container img {
    max-width: 100%;
    height: auto;
    filter: brightness(0.4); /* Agrega un filtro negro trasparente */
  }
  
  .overlay-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ecdcfd;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%; /* Ajusta el tamaño del contenedor para pantallas pequeñas */
  }
  
  .overlay-text p {
    font-size: 2rem; 
    line-height: 1.2;
    margin: 0;
    text-align: center; 
  }
  
  .overlay-text p:nth-child(1),
  .overlay-text p:nth-child(2),
  .overlay-text p:nth-child(3) {
      white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  }
  
  /* Ajustes para pantallas grandes (por ejemplo, monitores de escritorio grandes) */
  @media (min-width: 1200px) {
      .overlay-text p {
          font-size: 2.5rem;
      }
  }
  
  /* Ajustes para pantallas medianas (por ejemplo, monitores de escritorio estándar y laptops grandes) */
  @media (max-width: 1199px) and (min-width: 992px) {
      .overlay-text p {
          font-size: 2rem;
      }
  }
  
  /* Ajustes para pantallas de tablets */
  @media (max-width: 991px) and (min-width: 768px) {
      .overlay-text p {
          font-size: 1.8rem;
      }
  }
    
  /* Ajustes para pantallas pequeñas (por ejemplo, teléfonos grandes y tabletas pequeñas).*/
  @media (max-width: 767px) and (min-width: 576px) {
      .overlay-text {
          max-width: 90%; 
      }
      .overlay-text p {
          font-size: 1.5rem; 
      }
  }
    
  /* Ajustes para pantallas muy pequeñas (por ejemplo, teléfonos móviles pequeños) */
  @media (max-width: 575px) {
      .overlay-text {
          max-width: 100%; 
      }
      .overlay-text p {
          font-size: 1.2rem; 
      }
  }
  
  
  