.carousel-testimonials-container {
    text-align: center;
    margin: 40px auto;
    max-width: 1200px;
    overflow: hidden;
}

.carousel-testimonial-titulo{
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 15px;
}

.carousel-testimonials-wrapper {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 20px 0;
}

.carousel-testimonial-card {
    flex: 0 0 300px;
    background-color: #e1c9f6;
    border-radius: 15px;
    padding: 20px;
    scroll-snap-align: center;
}

.carousel-testimonial-content {
    text-align: left;
}

.carousel-testimonial-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 1px solid white;
    float: right; /* Flota la imagen a la izquierda */
    margin-right: 10px;
    margin-top: 0;
}
.carousel-testimonial-name {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 5px;
    color: #000;
}

.carousel-testimonial-title {
    font-size: 1em;
    font-weight: 450;
    margin-bottom: 30px;
    color: #000;
}

.carousel-testimonial-text {
    font-size: 0.88em;
    color: #000;
}

/* Estilos responsivos */
@media (min-width: 768px) {
    .carousel-testimonial-card {
        flex: 0 0 45%;
    }
}

@media (min-width: 1024px) {
    .carousel-testimonial-card {
        flex: 0 0 30%;
    }
}
