
:root {
  --container-background: #fff;
  --container-shadow: rgba(0, 0, 0, 0.2);
  --title-color: #7130cb;
  --text-color: #333;
  --form-border-color: #7130cb;
  --form-border-focus-color: #4e3670;
  --button-background: #7e4eab;
  --button-hover-background: #4e3670;
}

[data-theme='dark'] {
  --container-background: #333;
  --container-shadow: rgba(0, 0, 0, 0.5);
  --title-color: #9b7bff;
  --text-color: #f1f1f1;
  --form-border-color: #9b7bff;
  --form-border-focus-color: #c9a7ff;
  --button-background: #4e3670;
  --button-hover-background: #392750;
}

/* Contenedor principal centrado */
.container02 {
  display: flex;
  align-items: center;
  flex-direction: column; /* Alinear los elementos verticalmente */
  min-height: 100vh; /* Asegurar que ocupe al menos el 100% de la altura de la ventana */
  padding: 20px;
  margin-top: 20px; /* Reducir el margen superior */
}

.content02,
.contact-form02 {
  background-color: var(--container-background);
  box-shadow: 0 4px 8px var(--container-shadow);
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  margin: 10px;
  transition: box-shadow 0.3s ease;
  width: 600px; /* Ajuste de ancho */
}

.content02:hover,
.contact-form02:hover {
  box-shadow: 0 8px 16px var(--container-shadow);
}

.content02 h2,
.contact-form02 h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: var(--title-color);
  text-align: center;
}

ul.list-group-item02 {
  font-size: 1em;
  margin-bottom: 15px;
  color: var(--text-color);
}

.contact-form02 label {
  color: var(--title-color);
  font-weight: bold;
}

.contact-form02 .form-control02 {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid var(--form-border-color);
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  color: var(--text-color);
}

.contact-form02 .form-control02:focus {
  border-color: var(--form-border-focus-color);
  outline: none;
  box-shadow: 0 0 5px rgba(78, 54, 112, 0.5);
}

.contact-form02 textarea.form-control02 {
  resize: vertical; /* Permitir solo el cambio de tamaño vertical */
  height: 150px; /* Altura predeterminada del textarea */
}

.btn-primary02 {
  background-color: var(--button-background);
  border-color: var(--button-background);
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-primary02:hover {
  background-color: var(--button-hover-background);
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
  .content02,
  .contact-form02 {
    margin: 5px;
    width: calc(100% - 10px); /* Ajuste de ancho para pantallas pequeñas */
  }

  .content02 h2,
  .contact-form02 h3 {
    font-size: 1.2em;
    color: var(--title-color);
  }

  ul.list-group-item02 {
    font-size: 0.85em;
    color: rgb(111, 111, 111);
  }
}
/* Estilos para el contenedor */
.content02 {

  text-align: center; /* Centramos todo el contenido */
  width: 600px; /* Ajuste de ancho */
}

.content02:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.content02 h2 {
  font-size: 1.8em; /* Aumentar el tamaño de la fuente del título */
  margin-bottom: 20px;
  color: #7130cb;
}

ul.list-group02 {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px;
}

ul.list-group-item02 {
  font-size: 1.2em; /* Aumentar el tamaño de la fuente para una mejor lectura */
  margin-bottom: 10px;
  color: #333;
}
/* Estilos para el ícono de Instagram */
.instagram-link02 {
  display: inline-block;
  color: #7130cb; /* Color del ícono */
  font-size: 2.5em; /* Tamaño del ícono aumentado */
  transition: color 0.3s ease, transform 0.3s ease; /* Transición para el efecto hover */
}

.instagram-link02:hover {
  color: #4e3670; /* Cambio de color al hacer hover */
  transform: scale(1.2); /* Aumenta ligeramente el tamaño al pasar el cursor */
}

/* Estilos específicos para centrar el ícono */
.instagram-container02 {
  margin-top: 20px; /* Separar del contenido superior */
}
