@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


.saludo-container {
  background-color: var(--primary-color);
  color: var(--text-color);
   font-family: "Oswald", sans-serif;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .saludo-container h1 {
    font-size: 2.5rem;
    color: var(--secondary-color);
    animation: colorChange 5s infinite;
    margin-bottom: 15px;
  }
  
  .saludo-container p {
    font-size: 18px;
    color: #495057;
  }
  
  .saludo-button {
    display: inline-block;
    background-color: var(--button-background);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .saludo-button:hover {
    background-color: var(--button-hover);
  }

  
  @keyframes colorChange {
    0% { color: #4e3670; }
    50% { color: #000; }
    100% { color: #4e3670; }
  }