.replyBtn {
  align-self: flex-end;
  padding: 8px 16px;
  background-color: #674188;
  color: #fffbf5;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.replyBtn:hover {
  background-color: #5b376e;
}

.card {
  background-color: #7eb991;
  max-width: 28rem; /* Aproximadamente max-w-md */
  width: 100%;
  padding: 1.5rem; /* Aproximadamente p-6 */
  border-radius: 0.5rem; /* Aproximadamente rounded-lg */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */
}

.input-custom,
.custom-textarea {
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 600px; /* Ancho máximo de 600px */
  background-color: #fff; /* Fondo blanco */
  color: #333; /* Texto de color oscuro */
  padding: 10px 15px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  border: 1px solid #c3acd0; /* Color del borde suave */
  box-sizing: border-box; /* Asegura que padding y border estén incluidos en el width */
  resize: vertical; /* Permite redimensionar solo en la dirección vertical */
  font-family: inherit; /* Usa la fuente heredada del contenedor */
  font-size: 16px; /* Tamaño de la fuente */
  max-height: 300px; /* Altura máxima de 300px */
  overflow-y: auto; /* Añade scroll si el contenido excede la altura máxima */
}

.custom-textarea:focus {
  outline: none; /* Elimina el outline por defecto */
  border-color: #c3acd0; /* Mantiene el mismo color de borde en foco */
}

.custom-label {
  font-size: 16px; /* Tamaño de la fuente para los labels */
  color: #555; /* Color de texto similar al de .thread__header p */
  font-weight: bold; /* Texto en negrita */
  margin-bottom: 5px; /* Espaciado inferior, similar a los títulos en .thread__header h4 */
  display: block; /* Asegura que el label ocupe toda la línea */
}
